table[data-v-7219a6dd] {
	width: 80%;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	font-size: 1.3rem
}

table td[data-v-7219a6dd] {
	border-top: 1px solid silver
}

.aaa[data-v-7219a6dd] {
	font-size: .6rem
}

.aaa[data-v-7219a6dd]:hover {
	font-size: .8rem;
	color: #00f
}

.btn[data-v-7219a6dd] {
	border: thin;
	padding: 13px 30px;
	border-radius: 5px 5px 5px 5px;
	color: #fff;
	text-transform: capitalize;
	-webkit-transition: .5s;
	transition: .5s;
	background-color: #708090;
	font-weight: 500;
	margin-left: 10px
}

.btn[data-v-7219a6dd]:hover {
	color: #fff;
	background-color: #2493e0
}

.contentBox[data-v-8ee51128] {
	width: 80%;
	font-size: 1.3rem
}

.contentBoxTh[data-v-8ee51128] {
	width: 150px;
	background-color: #696969;
	color: #fff;
	border-radius: 5px 0 0 5px
}

.content[data-v-8ee51128], .contentBoxTd[data-v-8ee51128] {
	border: 1px solid #000;
	border-radius: 0 5px 5px 0;
	text-align: left;
	padding: 10px
}

.content[data-v-8ee51128] {
	height: 150px
}

.contentEnd[data-v-8ee51128] {
	border: 1px solid #000;
	border-radius: 5px 5px 5px 5px;
	text-align: right
}

.btn[data-v-8ee51128] {
	border: thin;
	padding: 13px 30px;
	border-radius: 5px 5px 5px 5px;
	color: #fff;
	text-transform: capitalize;
	-webkit-transition: .5s;
	transition: .5s;
	background-color: #708090;
	font-weight: 500;
	margin-left: 10px
}

.btn[data-v-8ee51128]:hover {
	color: #fff;
	background-color: #2493e0
}

.contentBox[data-v-ad14353c] {
	width: 80%;
	font-size: 1.3rem
}

.contentBoxTh[data-v-ad14353c] {
	width: 150px;
	background-color: #696969;
	color: #fff;
	border-radius: 5px 0 0 5px
}

.content[data-v-ad14353c], .contentBoxTd[data-v-ad14353c] {
	border: 1px solid #000;
	border-radius: 0 5px 5px 0;
	text-align: left;
	padding: 10px
}

.content[data-v-ad14353c] {
	height: 150px
}

.contentEnd[data-v-ad14353c] {
	border: 1px solid #000;
	border-radius: 5px 5px 5px 5px;
	text-align: right
}

.replyBox[data-v-ad14353c] {
	width: 80%;
	font-size: 1.2rem
}

.replyInput[data-v-ad14353c] {
	border: 1px solid #000;
	border-radius: 5px 5px 5px 5px;
	text-align: right
}

.reply[data-v-ad14353c] {
	border-bottom: 1px solid silver
}

.replyText[data-v-ad14353c] {
	height: 1.5rem;
	width: 80%;
	border: 0;
	border-bottom: 1px solid #000
}

.btn[data-v-ad14353c] {
	border: thin;
	padding: 13px 30px;
	border-radius: 5px 5px 5px 5px;
	color: #fff;
	text-transform: capitalize;
	-webkit-transition: .5s;
	transition: .5s;
	background-color: #708090;
	font-weight: 500;
	margin-left: 10px
}

.btn[data-v-ad14353c]:hover {
	color: #fff;
	background-color: #2493e0
}

.deleteBtn[data-v-ad14353c] {
	font-size: .6rem
}

.deleteBtn[data-v-ad14353c]:hover {
	font-size: .8rem;
	color: #00f
}

.contentBox[data-v-3a15d687] {
	width: 80%;
	font-size: 1.3rem
}

.contentBoxTh[data-v-3a15d687] {
	width: 150px;
	background-color: #696969;
	color: #fff;
	border-radius: 5px 0 0 5px
}

.content[data-v-3a15d687], .contentBoxTd[data-v-3a15d687] {
	border: 1px solid #000;
	border-radius: 0 5px 5px 0;
	text-align: left;
	padding: 10px
}

.content[data-v-3a15d687] {
	height: 150px
}

.contentEnd[data-v-3a15d687] {
	border: 1px solid #000;
	border-radius: 5px 5px 5px 5px;
	text-align: right
}

.replyBox[data-v-3a15d687] {
	width: 80%;
	font-size: 1.2rem
}

.replyInput[data-v-3a15d687] {
	border: 1px solid #000;
	border-radius: 5px 5px 5px 5px;
	text-align: right
}

.reply[data-v-3a15d687] {
	border-bottom: 1px solid silver
}

.replyText[data-v-3a15d687] {
	height: 1.5rem;
	width: 80%;
	border: 0;
	border-bottom: 1px solid #000
}

.replyDate[data-v-3a15d687] {
	text-align: left
}

.btn[data-v-3a15d687] {
	border: thin;
	padding: 13px 30px;
	border-radius: 5px 5px 5px 5px;
	color: #fff;
	text-transform: capitalize;
	-webkit-transition: .5s;
	transition: .5s;
	background-color: #708090;
	font-weight: 500;
	margin-left: 10px
}

.btn[data-v-3a15d687]:hover {
	color: #fff;
	background-color: #2493e0
}

.deleteBtn[data-v-3a15d687] {
	font-size: .6rem
}

.deleteBtn[data-v-3a15d687]:hover {
	font-size: .8rem;
	color: #00f
}

@font-face {
	font-family: goyang;
	src: url(../fonts/HangeulNuriB.ttf);
	font-size: 60px
}